<div class="list-group">
    <a href="#" class="list-group-item list-group-item-action active">Link item 1</a>
    <a href="#" class="list-group-item list-group-item-action">Link item 2</a>
    <a href="#" class="list-group-item list-group-item-action">Link item 3</a>
    <a href="#" class="list-group-item list-group-item-action">Link item 4</a>
    <a href="#" class="list-group-item list-group-item-action">Link item 5</a>
</div>